<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a
          href="/hesap-kitap/hesap-durum"
          class="nav-link"
          routerLink="/hesap-kitap/hesap-durum"
          >Hesap Durum
        </a>
      </li>
      <li class="nav-item">
        <a
          href="/hesap-kitap/portfoy-durum"
          class="nav-link"
          routerLink="/hesap-kitap/portfoy-durum"
          >Portföy Durum
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
