<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Makslab Porta</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a
          href="/user-main/menu-link-tanim"
          class="nav-link"
          routerLink="/user-main/menu-link-tanim"
          >Kullanıcı Yönetimi
        </a>
        <a
          href="/hesap-kitap/hesap-durum"
          class="nav-link"
          routerLink="/hesap-kitap/hesap-durum"
          >Sistem Tanımları
        </a>
      </li>
    </ul>
  </nav>
</div>
